<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CSS styleSheet-->
    <link rel="stylesheet" href="..\static\styles.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>Nilay Nath Sharan</title>

  </head>

  <body class='overall' >
    <!--First Page-->


    <!--Navigation Bar-->
    <!--Navbar-->
    <span style = 'font-size: x-large ; '>
        <nav class='navbar navbar-expand-lg fixed-top navbar-light navbar_placements'>
          <div class="container-fluid navbar_text">
            <a class="navbar-brand brand" href="index.html" style = 'font-size: x-large ; '>Nilay Nath Sharan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item hello">
                  <a class="nav-link" href="index-blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="projects.html">Projects</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>


    </span>
    <div class="bg-image">
        <!--Front Page-->
        <span class = 'front_pg'>
    <div class="container" style = 'padding-bottom : 400px ; '>
    <div class="row">
      <div class="col">
          <div class="d-flex justify-content-center main_heading">
            <div class="border_line">
             NILAY
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center sub_heading">
        Professional Human
      </div>
    </div>
  </div>
  </span>
    </div>
    <!--Introduction-->
    <span>
    <div class= 'Introduction'>
    <h2 class= 'd-flex p-2 justify-content-center intro_title' style = 'font-family: Noto Sans ;'>नमस्ते</h2>
    <p class = 'd-flex justify-content-center intro_content' >
           <div class = 'd-flex justify-content-center intro_content' style = 'font-size: xx-large'> I'm a programmer based in India.</div>
        <br>
        <div class = 'd-flex justify-content-center intro_content' style = 'font-size: xx-large' >I've an interest in web development and machine learning.</div>
        </p>
        <div class="container">
        <div class="row logos">
              <div class="col d-flex justify-content-center">
                <i class="fab fa-python"></i>
              </div>
          <div class="col d-flex justify-content-center">
             <i class="fab fa-html5"></i>
          </div>
          <div class="col d-flex justify-content-center">
            <i class="fab fa-css3-alt"></i>
          </div>
        </div>
      </div>



    </div>
  </span>

    <!--Contents-->
    <span>
   <!--Blog-->
   <div style = 'background-color :rgb(34, 40, 49) ;'>
     <div class="container" >
       <div class="row">
         <div class="col">
            <img src="../static/images/pic01.jpg" class="img contents_image " alt="Blog image">
            </div>
             <div class="col ">
               <h2 class = 'outer_introduction'><a href="index-blog.html" class = 'link-light'>Personal Blog</a> </h2>
               <p class = 'inner_introduction'>Reviews on programming tutorials and general stuff of interest.</p>
             </div>
         </div>
       </div>

       <!--Projects-->
      <div class="Projects">
        <div class="container">
          <div class="row">
              <div class="col">
                  <h2 class = 'outer_introduction outer_project'><a href="projects.html" class="link-light">Projects</a> </h2>
                  <p class = 'inner_introduction inner_project'>Recently developed or those I'm working on.</p>
                </div>
                <div class="col">
                   <img src="../static/images/project_01.jpg" class="img contents_image" alt="Project image"><!-- Image credits goes to Alexandre Debiève -->
                   </div>
            </div>
          </div>
      </div>
       <!--Photos-->
      <div class="container">
        <div class="row">
          <div class="col">
             <img src="../static/images/mountains2.jpeg" class="img contents_image " alt="Blog image">
             </div>
              <div class="col ">
                <h2 class = 'outer_introduction'><a href="#" class="link-light">Pictures</a></h2>
                <p class = 'inner_introduction'>Pictures taken while in touch with nature.</p>
              </div>
          </div>
        </div>
   </div>

  </span>

    <!--Ending projects -->
    <span>
      <div class="ending_page">
        <div class='ending_heading'>
          <h3 class = 'd-flex justify-content-center ending_heading'>Get In Touch</h3>
        </div>
          <div class="ending_main">
            <p class = 'd-flex justify-content-center ending_main'>
              If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.
            </p>
          </div>
          <div class="container d-flex justify-content-center links_network">
            <div class="row">
              <div class="col"><a href ='https://www.instagram.com/pagan.min/'><i class="fab fa-instagram link"> </i></a></div>
              <div class="col "><a href ='https://github.com/SubstantialCattle5'><i class="fab fa-github link"></i></a></div>
              <div class="col "><a href="mailto:notsamless2@email.com"><i class="fas fa-envelope link" ></i></a></div>
              </div>
            </div>

            <h5 class = 'd-flex justify-content-center'>© Nilay Nath Sharan</h5>
        </div>


  </span>




  </body>
</html>
